@import 'variables';

@mixin toast-styles($color, $border-color) {
  border: 1px solid $border-color;
  border-radius: 7px;
  background-color: rgba(210, 211, 218, 0.2);
  box-shadow:  0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: $color;
}

.toast {
  background-color: $color-grey-100;
  font-size: 10px;
}

.success-toast {
  @include toast-styles ($color-green-100, $color-green-100);
}

.info-toast {
  @include toast-styles($color-white, $color-white);
}

.error-toast {
  @include toast-styles($color-red-100, $color-red-100);
}

.progress {
  height: 3px;
}

.success-progress {
  background-color: $color-green-100;
}

.error-progress {
  background-color: $color-red-100;
}

.info-progress {
  background-color: $color-white;
}
