@import "@/common/styles/mixins";

.tableWrapper{
  @include flex-center;

  width: 100%;
  overflow: scroll;


  table{
    width: 100%;
    max-width: 900px;
    min-width: 800px;
    border-collapse: collapse;
    table-layout: fixed;
  }
}