.tableWrapper{
  width: 100%;
  overflow: scroll;

  table{
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: scroll;
  }
}