.thead {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.3);

  th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    overflow-wrap: break-word;
    font-size: clamp(0.625rem, 0.557rem + 0.34vw, 0.813rem);
    color: #fff;
    text-transform: uppercase;
    border-collapse: collapse;
  }
}

