@import '@/common/styles/mixins';

.tableWrapper {
  @include flex-center;

  gap: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: scroll;

  .table {
    width: 100%;
    height: 500px;
    max-width: 1200px;
    min-width: 600px;
    border-collapse: collapse;
    table-layout: fixed;
  }

  @media screen and (max-width: 875px) {
    justify-content: start;
  }
}


