@import "@/common/styles/variables";
@import "@/common/styles/mixins";

.inputWrapper {
  @include flex-column;

  position: relative;
  width: 100%;
}

.input {
  @include font(16px);

  height: 50px;
  width: 100%;
  padding: 0 0 0 20px;
  border-radius: 5px;
  background: rgba(210, 211, 218, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(210, 211, 218, 0.3);
  letter-spacing: 0.4px;
  color: $color-white;
  transition: border 0.3s ease-in-out;

  &:focus-visible, &:focus {
    outline: none;
  }

  &::placeholder {
    @include font(16px);

    color: $color-white;
  }

  &:hover, &:focus {
    border-bottom-color: $color-white;
  }

  &:disabled {
    border-bottom-color: transparent;
  }
}

.withError {
  border-bottom-color: $color-red-100;
}

.errorMassage {
  @include font(12px);

  padding: 2px 0 0;
  color: $color-white;

  &::before {
    content: "* ";
    color: $color-red-100;
  }
}

.passwordToggle {
  position: absolute;
  top: 14px;
  right: 20px;
  cursor: pointer;
  color: $color-white;
}
